/* Global styles */
img{
    display: block;
    width: 100%;
    margin: 0 auto;
}

body{
    background-color: black;
    text-align: center;
    background-image: url(../images/badlands.jfif);
    background-size:cover;
}

h2, h3{
    color: darkslategray;
    text-align: center;
}

#container{
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
}

audio, video{
    display: block;
    width: 60%;
    margin: 20px auto;
}



.mobile-img{
    border: 2px solid black;
    padding: 10px;
}

.desktop{
    display: none;
}

/* yooooo now i can say funny stuff in here too */


header img{
    width: 50%;
}

header h1{
    font-size: 1.7em;
    text-align: center;
    color: darkslategray;
}

nav{
    background-color: #B04600;
    text-align: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav li{
    display: block;
    border-top: 4px solid #B04600;
}

nav li a{
    background-color: #B04600;
    color: whitesmoke;
    display: block;
    height: 35px;
    line-height: 40px;
    font-size: 1.3em;
    text-decoration: none;
}

nav list a:hover{
    background-color: #FA6300;
    color: black;
}

main img{
    width: 70%;
}

.col{
    border: 4px dashed white;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
}

footer{
    padding: 35px;
    text-align: center;
    color: white;
    background-color: #B04600;
}
/* the global stuff is over */

/* tablet stuff now >:( */
@media(min-width: 768px){

header img{
    width: 25%;
    padding: 20px 0;
}

main img{
    width:35%;
}

.col img{
    width: 65%;
}

nav{
    background-color: #B04600;
}

nav li{
    display: inline-block;
    border: none;
}

nav li a{
    height: 50px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

}

/* ok tablet done :) */

/* Desktop stuff */

@media(min-width: 1024px){
    #container{
        width: 65%;
        margin: 20px auto;
    }

    header img{
        width: 35%;
    }
    
    main img{
        width: 20%;
    }

    #flex{
        display: flex;
    }

    .col{
        width: 37.666666666666555534323%;
        margin-top: 40px;
        border-radius: 20px;
    }

    footer{
        background-color: black;
        color: aliceblue;
    }

    table, td, tr{
        border: 1.5px solid black;
        padding: 20px;
    }

    table img{
        width: 100%;
    }

    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }
}

/* Desktop is over */