body{
    background-color: #0017A3;
    font-family: 'Source Code Pro', monospace;
}
h2{
    background-color: aliceblue;
    color: black;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
footer{
    font-weight: bold;
}
#box{
    background-color: #EBC034;
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 4px solid black;
    border-radius: 20px;
}
#contain{
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
}
#ph1{
    border: 4px inset white;
    border-radius: 10px;
    padding: 10px;
}
header{
    background-color: #5269FF;
    border: 4px solid #5269FF;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
header img{
    width: 40%;
    display: block;
    margin: 0 auto;
    padding: 10px;
}
main{
    background-color: #9E7A02;
    margin: 20px auto;
    width: 700px;
    padding: 20px;
    border: 4px transparent white;
    border-radius: 20px;
}
main img{
    width: 35%;
    display: block;
    border-radius: 20px;
    margin: 20px auto;
}
footer{
    background-color: #0017A3;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 40px;
}
nav{
    background-color: #5269FF;
    padding-top: 20px;
    text-align: center;
}
nav a{
    display: inline-block;
    background-color: #EBC034;
    height: 40px;
    width: 180px;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    line-height: 45px;
    color: black;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 15px;
}
nav a:hover{
    background-color: #9E7A02;
    color: white;
}
.active{
    background-color: #9E7A02;
    color: white;
}
.hunt_plan{
    text-align: center;
    color: gray;
    font-size: 2.7em;
    font-family: 'Anton', sans-serif;
}
h1{
    font-size: 2em;
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif;
}
.buy{
    border: 1px solid blue;
    border-radius: 25px;
    margin: 30px;
    padding: 10px;
}
.trouble{
    border: 5px solid red;
    border-radius: 20px;
    margin: 30px;
    padding: 10px;
    color: red;
}